In [2]:
import pandas as pd
data = pd.read_csv("Dane/ai4i2020.csv", sep=";",decimal=",")

# import seaborn as sns
# sns.pairplot(data=data, size=2)
# plt.show()

In [15]:
data

     UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0        1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1        2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2        3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3        4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4        5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...                                                 ...
9995  9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0...
9996  9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0...
9997  9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0...
9998  9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0...
9999  10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,...

[10000 rows x 1 columns]